<p>Hello <%= @user.name %>,</p>
<p>This is a reminder to complete your daily report for the team <strong><%= @team.name %></strong>.</p>
<p>
  <a href="<%= @url %>">Click here to complete your daily</a>
</p>
